{{#each this}}

  <p class='country-title'><img
      src='{{flags.svg}}'
      alt='flag of {{name.official}}'
      width='70'
      height='50'
    />
    {{name.official}}</p>
  <p><span> Capital:</span> {{capital}}</p>
  <p><span> Population:</span> {{population}} people</p>
  <p><span> Languages:</span>
  {{#each languages}}
    <li>{{this}}</li>
  {{/each}}
{{/each}} </p>
  

{{! name.official - повна назва країни
capital - столиця
population - населення
flags.svg - посилання на зображення прапора
languages - масив мов }}